.container{
  width: 35%;
  margin: 15% 0 0 39%;
  max-width: 320px;
}
.green{
  background-color: #2ca03a;
}
.cancelBtn{
  display: inline-block;
  margin: 0 75px 0 0;
}
.submit{
  display: inline-block;
}
.card{
  position: relative;
}
.cardSpinner{
  position: absolute;
  top: 0px;
  background-color: #00000047;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 83px;
}

@media only screen and (max-width: 1280px){
  .container{
    width: 35%;
    margin: 25% 32.5% 0 32.5%;
  }
}
@media only screen and (max-width: 476px){
  .container{
    width: 80%;
    margin: 30% 0 0 10%;
  }
}