<section class="pedidos">
  <p class="title">Historial</p>
  <div *ngIf="history.length > 0; else empty">
    <div *ngFor="let p of history" class="pedidosList">
      <mat-accordion>
        <mat-expansion-panel class="panels">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{p.fecha}}
            </mat-panel-title>
            <mat-panel-description>
              Total $ {{p.total}} || Estado :
              <div class="{{p.ordered}}Requested">
                <i class="positioning material-icons">done_all</i>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <table mat-table [dataSource]="p.lineaDePedido" class="pedidosTable">
            <!--Nombre-->
            <ng-container matColumnDef="Gusto">
              <th mat-header-cell *matHeaderCellDef class="paddingLT"> Sabor </th>
              <td mat-cell *matCellDef="let element" class="paddingLT"> {{element.producto.categoria}} de
                {{element.producto.name}} </td>
            </ng-container>
            <!--Cantidad-->
            <ng-container matColumnDef="Cantidad">
              <th mat-header-cell *matHeaderCellDef> Cant. </th>
              <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
            </ng-container>
            <!--Precio unitario-->
            <ng-container matColumnDef="P.Unitario">
              <th mat-header-cell *matHeaderCellDef>P. U.</th>
              <td mat-cell *matCellDef="let element"> {{element.producto.precio}} </td>
            </ng-container>
            <!--Precio total-->
            <ng-container matColumnDef="Subtotal">
              <th mat-header-cell *matHeaderCellDef class="paddingRT"> Subtotal </th>
              <td mat-cell *matCellDef="let element" class="subTotal paddingRT">$ {{element.subtotal}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
          </table>
          <div class="edit" *ngIf="!p.ordered"><button mat-button (click)="editar(p.id)">Editar <i class="material-icons">edit</i></button></div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <ng-template #empty>
    <div class="empty">
      Usted no ha realizado ningun pedido aún...
    </div>
  </ng-template>
</section>